body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.title {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    padding: 32px;
    background-color: #CDB4DB;
}

.m1 {
    background-color: #BDE0FE;
}

#container {
    width: 40vh;
    height: 40vh;
    margin: auto;
    margin-top: 32px;
    margin-bottom: 32px;
    border: 10px solid black;
    background-color: white;
}

.outerClass {
    display: flex;
    flex-direction: row;
    width: 40vh;
    margin: auto;
    margin-top: 0;

}

.innerClass {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 10vh;
    height: 10vh;
}

.active {
    cursor: pointer;
    background-color: black;
}

.slide {
    margin: auto;
    padding: 32px;
}
.slider {
    width: 20vh;
}
