body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.title {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    padding: 32px;
}
#container {
    width: 40vh;
    height: 40vh;
    margin: auto;
    border: 10px solid black;
}

.outerClass {
    display: flex;
    flex-direction: row;
    width: 40vh;
    height: 10vh;
    margin: auto;
    margin-top: 0;

}

.innerClass {
    display: flex;
    background-color: black;
    flex-direction: column;
    justify-content: center;
    width: 10vh;
    height: 10vh;
    opacity:0;
    transition:0s 180s;
}

.innerClass:active:hover {
    cursor: pointer;
    opacity:1;
    transition:0s;
}